.App {
  text-align: center;
  color: rgb(0, 0, 0);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;


}

.auth-form-container {
  padding: 5rem;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.5rem;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

.input {
  align-items: center;
}




